.home {
  max-width: 1400px;
  margin: auto;
  background-color: #eaeded;
  padding-bottom: 50px;
}

.home__containerSlider {
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 0;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__imageSlider {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
  transition: background-image 1s ease-in-out;
  position: relative;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  font-size: 30px;
  padding: 5px 12px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  transition: background 0.3s;
}

.slider__btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.slider__btn.left {
  left: 15px;
}

.slider__btn.right {
  right: 15px;
}

.home__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px;
  margin-bottom: 30px;
}

.product__rating {
  display: flex;
  row-gap: 1px;
  margin: 1px;
  padding: 0%;
}

.home__trending {
  padding: 2px;
  background-color: #f6f6f6;
  border-top: 1px solid #ddd;
}

.home__trending h2 {
  margin-left: 20px;
  font-size: 22px;
  font-weight: 600;
}



/* Only first category section will overlap */
.category-section-overlap {
  margin-top: -100px;
  /* position: relative; */
  z-index: 3;
}


/* Applies to every major section wrapper like category, welcome, luxury, etc. */

